<div class="container" *ngIf="weatherData">
  <div class="info">
    <div class="info__city">
      {{weatherData.location.name}}
    </div>
    <div class="info__temp">
      {{weatherData.current.temp_c | number: '1.0-0'}}°C
    </div>
  </div>
  <div class="details">
    <div class="details__element">
      <img src="../assets/temperature-min-svgrepo-com.svg" alt="">
      {{weatherData.forecast.forecastday[0].day.mintemp_c | number: '1.0-0'}}°C
    </div>
    <div class="details__element">
      <img src="../assets//temperature-max-svgrepo-com.svg" alt="">
      {{weatherData.forecast.forecastday[0].day.maxtemp_c | number: '1.0-0'}}°C
    </div>
    <div class="details__element">
      <img src="../assets/drop-humidity-icon.svg" alt="">
      {{weatherData.current.humidity | number: '1.0-0'}}%
    </div>
    <div class="details__element">
      <img src="../assets/wind-icon.svg" alt="">
      {{weatherData.current.wind_kph | number: '1.0-0'}}km/h
    </div>
  </div>
</div>
<router-outlet></router-outlet>